
<style>
    td
    {
        padding-bottom: 10px;
    }

</style>
<div ng-show="resetForm">
<h4>
    Ak ste zabudli svoje heslo, vložte svoj e-mail na, ktorý Vám príde odkaz pre vloženie nového hesla.
</h4>

<form ng-submit="ResetPassword()">
    <table>
        <tr>
            <td>
                <label>E-mail</label>
            </td>
            <td>
                <input type="email" ng-model="email" required/>
            </td>
        </tr>
        <tr>
            <td>
                <input class="btn btn-alert" type="submit" value="Resetovať heslo">
            </td>
        </tr>

    </table>
</form>
</div>


<div ng-show="addNewPasswordForm">
    <h4>
        Zadajte nove heslo pre svoj účet!
    </h4>

    <form ng-submit="addNewPassword()">
        <table>
            <tr>
                <td>
                    <label>Heslo</label>
                </td>
                <td>
                    <input type="password" ng-model="password" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Potvrdenie hesla</label>
                </td>
                <td>
                    <input type="password" ng-model="password2" required/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-alert" type="submit" value="Potvrdiť">
                </td>
            </tr>
        </table>
    </form>
</div>