<div id="invitations" >
    <table >
        <tr>
            <td><h3>Komu</h3></th>
            <td><h3>Aká rola</h3></th>
            <td><h3></h3></th>
        </tr>
        <tr>
            <td><input type="email" ng-model="userEmail" placeholder="Zadajte e-mail" required></td>
            <td>
                <select class="width" ng-model="userRole"
                        ng-options="role as role.label for role in roles">
                </select>
            </td>
            <td><h3><button ng-click="sendInvitation()">Odoslať</button></h3></td>
        </tr>
    </table>
</div>
