<style>
    #invitations th
    {
        width: 180px;
        text-align: center;
        border: 2px solid black;
    }
    #invitations td
    {
        width: 180px;
        text-align: center;
        border: 2px solid black;
    }

    #invitations button
    {
        width: 130px;
    }
    #buttonTop
    {
        margin-bottom: 5px;
    }
</style>
<div id="invitations" ng-if="addressedToConfirmations.length">
    <table >
        <tr>
            <th><h3>Od koho</h3></th>
            <th><h3>Aká rola</h3></th>
            <th><h3>Stav</h3></th>
            <th><h3>Vaše rozhodnutie</h3></th>
        </tr>
        <tr ng-repeat="confirmation in addressedToConfirmations">
            <td><h3>{{confirmation.createdBy.email}}</h3></td>
            <td><h3>{{confirmation.role}}</h3></td>
            <td><h3>{{confirmation.state}}</h3></td>
            <td ng-if="confirmation.state === 'V stave prijatia'">
                <h3>
                    <button id="buttonTop" ng-click="accept(confirmation)">Prijať</button>
                    <button ng-click="reject(confirmation)">Zamietnúť</button>
                </h3>
            </td>
            <td ng-if="confirmation.state === 'Prijaté'">
                <h3>
                    <button disabled>Prijaté</button>
                </h3>
            </td>
            <td ng-if="confirmation.state === 'Zamietnuté'">
                <h3>
                    <button disabled>Zamietnuté</button>
                </h3>
            </td>
        </tr>
    </table>
</div>
<div ng-if="!addressedToConfirmations.length">
    <h3>Aktuálne nemáte žiadne pozvánky</h3>
</div>