<div id="invitations" ng-if="createdByConfirmations.length">
<table >
    <tr>
        <td><h3>Komu</h3></th>
        <td><h3>Aká rola</h3></th>
        <td><h3>Stav</h3></th>
        <td><h3></h3></th>
    </tr>
    <tr ng-repeat="confirmation in createdByConfirmations">
        <td><h3>{{confirmation.addressedTo.email}}</h3></td>
        <td><h3>{{confirmation.role}}</h3></td>
        <td><h3>{{confirmation.state}}</h3></td>
            <td ng-if="confirmation.state === 'V stave prijatia'">
                <h3>
                    <button id="buttonTop" ng-click="resend(confirmation)">Znova poslať</button>
                    <button ng-click="delete(confirmation)">Zrušiť</button>
                </h3>
            </td>
        <td ng-if="confirmation.state === 'Prijaté'">
            <h3>
                <button>Prijaté klientom</button>
            </h3>
        </td>
        <td ng-if="confirmation.state === 'Zamietnuté'">
            <h3>
                <button>Zamietnuté klientom</button>
            </h3>
        </td>
    </tr>
</table>
</div>
<div ng-if="!createdByConfirmations.length">
    <h3>Aktuálne nemáte žiadne poslané pozvánky</h3>
</div>