<div id="invitations" ng-if="addressedToConfirmations.length">
    <table >
        <tr>
            <td><h3>Od koho</h3></th>
            <td><h3>Aká rola</h3></th>
            <td><h3>Stav</h3></th>
            <td><h3>Vaše rozhodnutie</h3></th>
        </tr>
        <tr ng-repeat="confirmation in addressedToConfirmations">
            <td><h3>{{confirmation.createdBy.email}}</h3></td>
            <td><h3>{{confirmation.role}}</h3></td>
            <td><h3>{{confirmation.state}}</h3></td>
            <td ng-if="confirmation.state === 'V stave prijatia'">
                <h3>
                    <button id="buttonTop" ng-click="accept(confirmation)">Prijať</button>
                    <button ng-click="reject(confirmation)">Zamietnúť</button>
                </h3>
            </td>
            <td ng-if="confirmation.state === 'Prijaté'">
                <h3>
                    <button disabled>Prijal som</button>
                </h3>
            </td>
            <td ng-if="confirmation.state === 'Zamietnuté'">
                <h3>
                    <button disabled>Zamietnul som</button>
                </h3>
            </td>
        </tr>
    </table>
</div>
<div ng-if="!addressedToConfirmations.length">
    <h3>Aktuálne nemáte žiadne pozvánky</h3>
</div>