<div id="invitations" >
    <table ng-repeat="client in clients">
        <tr>
            <td>MENO</td>
            <td><input type="text" ng-model="first_name" placeholder="{{client.firstName}}"></td>
            <td><button ng-click="editName(client._id,first_name,'firstName')">Upraviť</button></td>
        </tr>
        <tr>
            <td>PRIEZVISKO</td>
            <td><input type="text" ng-model="last_name" placeholder="{{client.lastName}}"></td>
            <td><button ng-click="editName(client._id,last_name,'lastName')">Upraviť</button></td>
        </tr>
        <tr ng-show="client.password !== undefined">
            <td ><input ng-model="oldPassword" type="password" placeholder="Staré heslo"></td>
            <td ><input ng-model="password" type="password" placeholder="Nové heslo"></td>
            <td><input ng-model="password2" type="password" placeholder="Nové heslo ešte raz"></td>
        </tr>
        <tr ng-show="client.password !== undefined">
            <td></td>
            <td><button ng-click="editPassword(oldPassword,password,password2)">Potvrdiť</button></td>
            <td></td>
        </tr>
    </table>
</div>